/* 1. Import Font */
@import url('https://use.typekit.net/tei8xbx.css');

/* 2. Import Tailwind v4 */
@import "tailwindcss";

/* 3. Definisi Warna Minimalis Warm */
@theme {
  /* Palet Warna */
  --color-header: #323031;    /* Coklat Tua (Text Utama) */
  --color-body: #7F7979;      /* Abu Coklat (Text Deskripsi) */
  --color-brand: #C1BDB3;     /* Krem (Buat accent dikit-dikit aja) */
  --color-bg-white: #FFFFFF;  /* Putih Bersih (Modern) */

  /* Font */
  --font-serif: "sofia-pro", sans-serif;
  --font-sans: "Lato", sans-serif;
}

/* 4. Reset Body */
body {
  background-color: var(--color-bg-white);
  color: var(--color-body);
  font-family: var(--font-sans);
}

/* Heading tetap pakai Serif biar ada karakter, tapi warna coklat tua */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-header);
}